<%= render 'left' %>
<%= render 'top' %>

<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>实施单位管理</h5>

    </div>
    <div class="ibox-content">

      <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <th>实施单位</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <% @ssdws.each do |ssdw| %>
            <tr>
              <td>
                <%= ssdw.name %>
              </td>
              <td>
                <%= link_to "", edit_ssdw_path(ssdw),class: "fa fa-pencil" %>&nbsp;
                <%= link_to '', ssdw, class: "fa fa-trash", method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to "新增", new_ssdw_path,class: "btn btn-w-m btn-success mylink pull-right" %>
      <br>
    </div>

  </div>
</div>