<script>
    $(document).ready(function () {
        $('.file-box').each(function () {
            animationHover(this, 'pulse');
        });
        $('#zzjg_submit').click(function(){
            if($('#zzjg_att').val()=='')
            {
                $('#zzjg_alert_lab').html('组织机构代码证不能为空！');
                $('#zzjg_alert').show();

                return false;
            }
        });
    });
</script>
<div class="ibox-content form-horizontal m-t">
<h3>&nbsp;&nbsp;&nbsp;&nbsp;组织机构代码证</h3>


<% @zhengzhao.zhengzhaoexpands.each do |f| %>
<% if f.keyword.to_s == "zzjg" %>

    <div class="file-box">
      <div class="file">
        <a href=<%= f.expand.url %>>
          <span class="corner"></span>
          <div class="image" align="center">
            <% if f.expand_content_type[0,5]=="image"%>
                <%= image_tag(f.expand.url,width: "300px",title:f.expand_file_name) %>
            <%else%>
                <%= image_tag("attch.png",width:"100px",title:f.expand_file_name) %>
            <%end%>
          </div>
          <div class="file-name">
            <%= f.expand_file_name %>
            <%= link_to '',[f.zhengzhao,f], class: "fa fa-trash pull-right fa-2x", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </a>
      </div>
    </div>
<% end %>

<% end %>


<%= form_for([@zhengzhao,@zhengzhao.zhengzhaoexpands.build],:html => {:class=>'form-horizontal m-t',id:"signupForm",:multipart => true}) do |f| %>
    <div class="form-group">
      <div class="col-sm-3">
        <%= f.file_field :expand ,class:"form-control",id:'zzjg_att'%>
        <%= f.hidden_field :keyword, value:"zzjg"%>
        <%= f.hidden_field :zhengzhao_id,value: @zhengzhao.id %>
      </div>
      <div>
        <button class="btn btn-w-m btn-success mylink pull-left" type="submit" id="zzjg_submit">上传组织机构代码证</button>
        <i class="pull-left">&nbsp;</i>
        <div id="zzjg_alert" class="alert alert-danger text-center col-sm-2 " style="display: none;padding-top: 8px;padding-bottom: 0px;">
          <label id="zzjg_alert_lab"></label></a>
        </div>
      </div>
    </div>
<% end %>
</div>