<%= render 'left' %>
<%= render 'top' %>


<script>
    $(document).ready(function () {

                function getUrlParam(name) {
                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
                    var r = window.location.search.substr(1).match(reg);  //匹配目标参数
                    if (r != null) return unescape(r[2]);
                    return null; //返回参数值
                }

        Array.prototype.removeByValue = function(val){
            for(var i = 0;i<this.length;i++){
                if(this[i]==val){
                    this.splice(i,1);
                    break;
                }
            }
        }

        function ClearSymbol(name){
            var myclear = name;
            if(name.substr(0,1)==':')
            {
                myclear = name.substr(1,name.length);
            }
            if(name.substr(name.length-1,1)==':')
            {
                myclear = name.substr(0,name.length-1);
            }
            return myclear;
        }

        //////////////////////////////////////国家部分
        var coun_id = getUrlParam('coun_id');
        if(coun_id=='')
        {
            coun_id='0:';
        }
        var arraycoun = new Array();
        try {
            arraycoun = coun_id.split(':');
        }catch(err){}


        $('.coun').click( function() {
            if($.inArray($(this).val(),arraycoun)>=0)
            {
                arraycoun.removeByValue($(this).val());
            }else
            {
                arraycoun.push($(this).val());
            }
            arraycoun = $.unique(arraycoun);
            arraycoun = arraycoun.sort();
            if(arraycoun.length>1)
            {

                arraycoun.removeByValue('');
                arraycoun.removeByValue('0');
            }
            if($(this).val()=='0')
            {
                arraycoun.length = 0;
                arraycoun.push(0);
            }
            $('#coun_id').val('');
            for(var i=0;i<arraycoun.length;i++)
            {
                $('#coun_id').val($('#coun_id').val()+arraycoun[i]+':');
            }
            //$('#zhuanye_id').val(ClearSymbol($('#zhuanye_id').val()));
            coun_id = ClearSymbol($('#coun_id').val());
            $('#coun_id').val(coun_id);

            var languageid=getUrlParam('language_id');
            var xm=$('#xm').val();

            if(languageid==null)
            {
                languageid=0;
            }
            if(xm==null)
            {
                xm='';
            }

            location.href = "?coun_id="+$('#coun_id').val() + "&language_id=" + languageid + "&xm=" + xm;
        });
        var showcoun = new Array();
        try{
            showcoun=coun_id.split(':');
        }catch(err){}
        $('.coun').each(function(){
            //var idName= this;
            //$('#idName').val();
            if ($.inArray($(this).val(),showcoun)>=0) {
                $(this).addClass('btn-success');
                $(this).removeClass('btn-white');
            }else
            {
                $(this).addClass('btn-white');
                $(this).removeClass('btn-success');
            }

        });

        if(showcoun.length==0)
        {
            $('.coun').each(function () {
                //var idName= this;ar zhuanye_id = getUrlParam('zhuanye_id');
                //$('#idName').val();
                if ($(this).val() == '0') {
                    $(this).addClass('btn-success');
                    $(this).removeClass('btn-white');
                }

            });
        }

        //////////////////////////////////////语言部分
        var language_id = getUrlParam('language_id');
        if(language_id=='')
        {
            language_id='0:';
        }
        var arraylanguage = new Array();
        try {
            arraylanguage = language_id.split(':');
        }catch(err){}


        $('.language').click( function() {
            if($.inArray($(this).val(),arraylanguage)>=0)
            {
                arraylanguage.removeByValue($(this).val());
            }else
            {
                arraylanguage.push($(this).val());
            }
            arraylanguage = $.unique(arraylanguage);
            arraylanguage = arraylanguage.sort();
            if(arraylanguage.length>1)
            {

                arraylanguage.removeByValue('');
                arraylanguage.removeByValue('0');
            }
            if($(this).val()=='0')
            {
                arraylanguage.length = 0;
                arraylanguage.push(0);
            }
            $('#language_id').val('');
            for(var i=0;i<arraylanguage.length;i++)
            {
                $('#language_id').val($('#language_id').val()+arraylanguage[i]+':');
            }
            //$('#zhuanye_id').val(ClearSymbol($('#zhuanye_id').val()));
            language_id = ClearSymbol($('#language_id').val());
            $('#language_id').val(language_id);

            var counid=getUrlParam('coun_id');
            var xm=$('#xm').val();

            if(counid==null)
            {
                counid=0;
            }
            if(xm==null)
            {
                xm='';
            }

            location.href = "?coun_id="+counid + "&language_id=" + $('#language_id').val() + "&xm=" + xm;
        });
        var showlanguage = new Array();
        try{
            showlanguage=language_id.split(':');
        }catch(err){}
        $('.language').each(function(){
            //var idName= this;
            //$('#idName').val();

            if ($.inArray($(this).val(),showlanguage)>=0) {
                $(this).addClass('btn-success');
                $(this).removeClass('btn-white');
            }else
            {
                $(this).addClass('btn-white');
                $(this).removeClass('btn-success');
            }

        });

        if(showlanguage.length==0)
        {
            $('.language').each(function () {
                //var idName= this;ar zhuanye_id = getUrlParam('zhuanye_id');
                //$('#idName').val();
                if ($(this).val() == '0') {
                    $(this).addClass('btn-success');
                    $(this).removeClass('btn-white');
                }

            });
        }


$('.query').click(function()
{

        var counid=getUrlParam('coun_id');
        var languageid=getUrlParam('language_id');

        if(counid==null)
        {
            counid=0;
        }
        if(languageid==null)
        {
            languageid=0;
        }

        location.href = "?coun_id="+counid + "&language_id=" + languageid + "&xm=" + $('#xm').val();

});





            });

    </script>



<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>简历管理</h5>

    </div>

    <div class="ibox-content" style="height: 160px;">
      <table class="col-lg-12 table">

        <tr>
          <td class="col-sm-1">语言：</td>
          <td class="col-lg-11">
            <button class="language btn btn-success btn-xs" value="0">全部</button>
            <% @languages.each do |language| %>
                &nbsp;<button class="language btn btn-white btn-xs" value=<%= language.id %>><%= language.language %></button>
            <% end %>
          </td>
          <td>
            <input type="hidden" id="language_id" value="0">
          </td>
        </tr>

        <tr>
          <td class="col-sm-1">国家：</td>
          <td class="col-lg-11">
            <button class="coun btn btn-success btn-xs" value="0">全部</button>
            <% @couns.each do |coun| %>
                &nbsp;<button class="coun btn btn-white btn-xs" value=<%= coun.id %>><%= coun.coun %></button>
            <% end %>
          </td>
          <td>
            <input type="hidden" id="coun_id" value="0">
          </td>
        </tr>

        <tr>
          <td class="col-sm-1">项目：</td>
          <td class="col-lg-11">
            <input id="xm" value=<%= @xm %>>&nbsp;<button class="query btn btn-success btn-xs btn-w-s" style="margin-top: 3px;">查询</button>

          </td>

        </tr>


      </table>
    </div>




    <div class="ibox-content">

      <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <th>国家</th>
          <th>项目名称</th>
          <th>语言</th>
          <th>操作</th>




        </tr>
        </thead>
        <tbody>
        <% @xmjianlis.each do |xmjianli| %>
            <tr>
              <td>



                <% @couns.each do |f| %>
                <% if xmjianli.xmcoun_id == f.id %>
                    <%= f.coun %>
                        <% break %>
                    <% end %>
                <% end %>


              </td>

              <td>

                <%= link_to xmjianli.name,xmjianli_path(xmjianli) %>
              </td>

              <td>
                <% @languages.each do |f| %>
                    <% if xmjianli.xmlanguage_id == f.id %>
                        <%= f.language %>
                        <% break %>
                    <% end %>
                <% end %>
              </td>










              <td>
                <% if session[:auth]=='1' %>
                <%= link_to "", edit_xmjianli_path(xmjianli),class: "fa fa-pencil" %>&nbsp;
                <%= link_to '', xmjianli, class: "fa fa-trash", method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <% if session[:auth]=='1' %>
      <%= link_to "新增", new_xmjianli_path,class: "btn btn-w-m btn-success mylink pull-right" %>
          <% end %>
      <br>
    </div>

  </div>
</div>