<script>
    $(document).ready(function () {
        $('.myli').click(function(){
            $("#headimg").attr("src", $(this)[0].src);
            $('#mylable').text('');
            $('#language_id').val($(this)[0].id);
        })
    });
</script>










<%= form_for([@yeji,@yeji.yejiatts.build],:html => {:class=>'form-horizontal m-t',:multipart => true}) do |f| %>

<%= f.hidden_field :langguage_id,id:'language_id',value:'1' %>

    <div class="input-group-btn">
      <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button"><img id="headimg" width="35px"><lable id="mylable">语言</lable><span class="caret"></span>
      </button>
      <ul class="dropdown-menu myul">
        <% @languages.each do |language| %>


            <li>

              <a> <%= image_tag(language.flag.url,width:"35px", class:'myli',id:language.id) %>&nbsp;&nbsp;<%= language.language %></a>
            </li>

        <% end %>

      </ul>
    </div>





    <%= f.text_field :content %>
    <%= f.hidden_field :keyword,value:'xmmc' %>
    <button class="btn btn-xs btn-success mylink" type="submit">确定</button>

<% end %>






