<script language="JavaScript">
    function get_hetong()
    {
        document.getElementById("hidden_hetong").value=document.getElementById("select_hetong").value;
    }
    function get_guojia()
    {
        document.getElementById("hidden_guojia").value=document.getElementById("select_guojia").value;
    }
    function get_projecttype()
    {
        document.getElementById("hidden_projecttype").value=document.getElementById("select_projecttype").value;
    }
    function get_juese()
    {
        document.getElementById("hidden_juese").value=document.getElementById("select_juese").value;
    }


    $(document).ready(function () {


        $('#rmb').val($('#rmb_id').val());
        $('#usd').val($('#usd_id').val());
        $('#fk').val($('#fk_id').val());

        $('#rmb').maskMoney();
        $('#usd').maskMoney();
        $('#fk').maskMoney();

        $("#rmb").change(function(){
            $("#rmb_id").val($('#rmb').maskMoney('unmasked')[0]);
        });
        $("#usd").change(function(){
            $("#usd_id").val($('#usd').maskMoney('unmasked')[0]);
        });
        $("#fk").change(function(){
            $("#fk_id").val($('#fk').maskMoney('unmasked')[0]);
        });




        $('#fromtime').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });
        $('#endtime').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });





    });
</script>


<div class="ibox-content">
  <%= form_for(@yeji, :html => {:class=>'form-horizontal m-t'}) do |f| %>



      <div class="form-group">
        <label class="col-sm-3 control-label">工期（月）：</label>
        <div class="col-sm-5">
          <%= f.number_field :gongqi ,class:"form-control"%>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">开完工时间：</label>
        <div class="col-sm-5">
          <table>
            <tr>
              <td>
                <div class="input-daterange input-group" id="datepicker" style="margin-top: 0px;">
                  <table>
                    <tr>
                      <td>
                        开工时间：
                      </td>
                      <td>

                        <%= f.text_field :begindate ,class:"input-sm form-control",id:'fromtime'%>
                      </td>
                      <td>
                  &nbsp;完工时间：
                      </td>
                      <td>

                        <%= f.text_field :enddate ,class:"input-sm form-control",id:'endtime'%>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-3 control-label">合同金额：</label>
        <table>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>
              <div class="input-group m-b"><span class="input-group-addon" >&yen;</span>
                <input style="width: 200px;" type="text" class=" form-control" id="rmb">
                <%= f.hidden_field :hetonge ,class:"form-control", id:'rmb_id'%>
              </div>
            </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>

              <div class="input-group m-b">
                <span class="input-group-addon" >$</span>
                <input style="width: 200px;" type="text" class=" form-control" id="usd">
                <%= f.hidden_field :meiyuan ,class:"form-control", id:'usd_id'%>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <%= f.hidden_field :isnew ,class:"form-control",value:'0'%>
      <div class="form-group">
        <label class="col-sm-3 control-label">业主电话：</label>
        <div class="col-sm-5">
          <%= f.text_field :telyezhu ,class:"form-control"%>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">付款金额：</label>
        <div class="col-sm-5">
          <%= f.hidden_field :fukunprice ,class:"form-control", id:'fk_id'%>
          <input  type="text" class=" form-control" id="fk">
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-3 control-label">合同类型：</label>
        <div class="col-sm-5">
          <%= f.hidden_field :hetong_id ,id:"hidden_hetong",value:"1" %>
          <select class="form-control m-b" id="select_hetong" name="account" onchange="get_hetong()">
            <% @hetongs.each do |hetong| %>
                <option value=<%= hetong.id %>><%= hetong.hetong %></option>
            <% end %>
          </select>

        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">国家：</label>
        <div class="col-sm-5">
          <%= f.hidden_field :guojia_id ,id:"hidden_guojia", value:"1" %>
          <select class="form-control m-b" id="select_guojia" name="account" onchange="get_guojia()">
            <% @guojias.each do |guojia| %>
                <option value=<%= guojia.id %>><%= guojia.guojia %></option>
            <% end %>
          </select>

        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">实施名义：</label>
        <div class="col-sm-5">
          <%= f.hidden_field :ssdw_id ,id:"hidden_ssdw", value:"1" %>
          <select class="form-control m-b" id="select_ssdw" name="account" onchange="get_guojia()">
            <% @ssdws.each do |ssdw| %>
                <option value=<%= ssdw.id %>><%= ssdw.name %></option>
            <% end %>
          </select>

        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">项目类型：</label>
        <div class="col-sm-5">
          <%= f.hidden_field :projecttype_id ,id:"hidden_projecttype",value:"1" %>
          <select class="form-control m-b" id="select_projecttype" name="account" onchange="get_projecttype()">
            <% @projecttypes.each do |projecttype| %>
                <option value=<%= projecttype.id %>><%= projecttype.projecttype %></option>
            <% end %>
          </select>

        </div>
      </div>



      <div class="form-group">
        <label class="col-sm-3 control-label">角色：</label>
        <div class="col-sm-5">
          <%= f.hidden_field :juese_id ,id:"hidden_juese",value:"1" %>
          <select class="form-control m-b" id="select_juese" name="account" onchange="get_juese()">
            <% @jueses.each do |juese| %>
                <option value=<%= juese.id %>><%= juese.juese %></option>
            <% end %>
          </select>

        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-4 col-sm-offset-3">
          <button class="btn btn-w-m btn-success mylink" type="submit">确定</button>

        </div>
      </div>






  <% end %>
</div>