<%= render 'left' %>
<%= render 'top' %>




<script type="text/javascript">




    $(document).ready(function () {





        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }

        Array.prototype.removeByValue = function(val){
            for(var i = 0;i<this.length;i++){
                if(this[i]==val){
                    this.splice(i,1);
                    break;
                }
            }
        }


        function ClearSymbol(name){
            var myclear = name;
            if(name.substr(0,1)==':')
            {
                myclear = name.substr(1,name.length);
            }
            if(name.substr(name.length-1,1)==':')
            {
                myclear = name.substr(0,name.length-1);
            }
            return myclear;
        }

        //////////////////////////////////////项目类型
        var xm_id = getUrlParam('xm_id');
        if(xm_id=='')
        {
            xm_id='0:';
        }
        var arrayxm = new Array();
        try {
            arrayxm = xm_id.split(':');
        }catch(err){}


        $('.xm').click( function() {
            if($.inArray($(this).val(),arrayxm)>=0)
            {
                arrayxm.removeByValue($(this).val());
            }else
            {
                arrayxm.push($(this).val());
            }
            arrayxm = $.unique(arrayxm);
            arrayxm = arrayxm.sort();
            if(arrayxm.length>1)
            {

                arrayxm.removeByValue('');
                arrayxm.removeByValue('0');
            }
            if($(this).val()=='0')
            {
                arrayxm.length = 0;
                arrayxm.push(0);
            }
            $('#xm_id').val('');
            for(var i=0;i<arrayxm.length;i++)
            {
                $('#xm_id').val($('#xm_id').val()+arrayxm[i]+':');
            }
            //$('#zhuanye_id').val(ClearSymbol($('#zhuanye_id').val()));
            xm_id = ClearSymbol($('#xm_id').val());
            $('#xm_id').val(xm_id);
            var hetongid=getUrlParam('hetong_id');
            var guojiaid=getUrlParam('guojia_id');
            var ssdwid=getUrlParam('ssdw_id');
            var gongqi=getUrlParam('gongqi');
            var fromtime=getUrlParam('fromtime');
            var endtime=getUrlParam('endtime');
            var rmb=$('#rmb').maskMoney('unmasked')[0];
            var usd=$('#usd').maskMoney('unmasked')[0];

            if(hetongid==null)
            {
                hetongid=0;
            }
            if(guojiaid==null)
            {
                guojiaid=0;
            }
            if(ssdwid==null)
            {
                ssdwid=0;
            }
            if(fromtime==null)
            {
                fromtime="";
            }
            if(endtime==null)
            {
                endtime="";
            }
            if(rmb==null)
            {
                rmb="";
            }
            if(usd==null)
            {
                usd="";
            }
            if(gongqi==null)
            {
                gongqi="";
            }
            location.href = "?xm_id="+ xm_id+"&hetong_id="+hetongid+"&guojia_id="+guojiaid+"&ssdw_id="+ssdwid+"&fromtime="+fromtime+"&endtime="+endtime+"&rmb="+rmb+"&usd="+usd+"&gongqi="+gongqi;
        });
        var showxm = new Array();
        try{
            showxm=xm_id.split(':');
        }catch(err){}
        $('.xm').each(function(){
            //var idName= this;
            //$('#idName').val();
            if ($.inArray($(this).val(),showxm)>=0) {
                $(this).addClass('btn-success');
                $(this).removeClass('btn-white');
            }else
            {
                $(this).addClass('btn-white');
                $(this).removeClass('btn-success');
            }

        });

        if(showxm.length==0)
        {
            $('.xm').each(function () {
                //var idName= this;ar zhuanye_id = getUrlParam('zhuanye_id');
                //$('#idName').val();
                if ($(this).val() == '0') {
                    $(this).addClass('btn-success');
                    $(this).removeClass('btn-white');
                }

            });
        }

        //////////////////////////////////////合同类型
        var hetong_id = getUrlParam('hetong_id');
        if(hetong_id=='')
        {
            hetong_id='0:';
        }
        var arrayhetong = new Array();
        try {
            arrayhetong = hetong_id.split(':');
        }catch(err){}


        $('.hetong').click( function() {
            if($.inArray($(this).val(),arrayhetong)>=0)
            {
                arrayhetong.removeByValue($(this).val());
            }else
            {
                arrayhetong.push($(this).val());
            }
            arrayhetong = $.unique(arrayhetong);
            arrayhetong = arrayhetong.sort();
            if(arrayhetong.length>1)
            {

                arrayhetong.removeByValue('');
                arrayhetong.removeByValue('0');
            }
            if($(this).val()=='0')
            {
                arrayhetong.length = 0;
                arrayhetong.push(0);
            }
            $('#hetong_id').val('');
            for(var i=0;i<arrayhetong.length;i++)
            {
                $('#hetong_id').val($('#hetong_id').val()+arrayhetong[i]+':');
            }
            //$('#zhuanye_id').val(ClearSymbol($('#zhuanye_id').val()));
            hetong_id = ClearSymbol($('#hetong_id').val());
            $('#hetong_id').val(hetong_id);

            var xmid=getUrlParam('xm_id');
            var guojiaid=getUrlParam('guojia_id');
            var ssdwid=getUrlParam('ssdw_id');
            var gongqi=getUrlParam('gongqi');
            var fromtime=getUrlParam('fromtime');
            var endtime=getUrlParam('endtime');
            var rmb=$('#rmb').maskMoney('unmasked')[0];
            var usd=$('#usd').maskMoney('unmasked')[0];
            if(xmid==null)
            {
                xmid=0;
            }

            if(guojiaid==null)
            {
                guojiaid=0;
            }
            if(ssdwid==null)
            {
                ssdwid=0;
            }
            if(fromtime==null)
            {
                fromtime="";
            }
            if(endtime==null)
            {
                endtime="";
            }
            if(rmb==null)
            {
                rmb="";
            }
            if(usd==null)
            {
                usd="";
            }
            if(gongqi==null)
            {
                gongqi="";
            }
            location.href = "?xm_id="+ xmid+"&hetong_id="+hetong_id+"&guojia_id="+guojiaid+"&ssdw_id="+ssdwid+"&fromtime="+fromtime+"&endtime="+endtime+"&rmb="+rmb+"&usd="+usd+"&gongqi="+gongqi;
        });
        var showhetong = new Array();
        try{
            showhetong=hetong_id.split(':');
        }catch(err){}
        $('.hetong').each(function(){
            //var idName= this;
            //$('#idName').val();
            if ($.inArray($(this).val(),showhetong)>=0) {
                $(this).addClass('btn-success');
                $(this).removeClass('btn-white');
            }else
            {
                $(this).addClass('btn-white');
                $(this).removeClass('btn-success');
            }

        });

        if(showhetong.length==0)
        {
            $('.hetong').each(function () {
                //var idName= this;ar zhuanye_id = getUrlParam('zhuanye_id');
                //$('#idName').val();
                if ($(this).val() == '0') {
                    $(this).addClass('btn-success');
                    $(this).removeClass('btn-white');
                }

            });
        }


        //////////////////////////////////////实施单位
        var ssdw_id = getUrlParam('ssdw_id');
        if(ssdw_id=='')
        {
            ssdw_id='0:';
        }
        var arrayssdw = new Array();
        try {
            arrayssdw = ssdw_id.split(':');
        }catch(err){}


        $('.ssdw').click( function() {
            if($.inArray($(this).val(),arrayssdw)>=0)
            {
                arrayssdw.removeByValue($(this).val());
            }else
            {
                arrayssdw.push($(this).val());
            }
            arrayssdw = $.unique(arrayssdw);
            arrayssdw = arrayssdw.sort();
            if(arrayssdw.length>1)
            {

                arrayssdw.removeByValue('');
                arrayssdw.removeByValue('0');
            }
            if($(this).val()=='0')
            {
                arrayssdw.length = 0;
                arrayssdw.push(0);
            }
            $('#ssdw_id').val('');
            for(var i=0;i<arrayssdw.length;i++)
            {
                $('#ssdw_id').val($('#ssdw_id').val()+arrayssdw[i]+':');
            }
            //$('#zhuanye_id').val(ClearSymbol($('#zhuanye_id').val()));
            ssdw_id = ClearSymbol($('#ssdw_id').val());
            $('#ssdw_id').val(ssdw_id);

            var xmid=getUrlParam('xm_id');
            var guojiaid=getUrlParam('guojia_id');
            var gongqi=getUrlParam('gongqi');
            var hetongid=getUrlParam('hetong_id');
            var fromtime=getUrlParam('fromtime');
            var endtime=getUrlParam('endtime');
            var rmb=$('#rmb').maskMoney('unmasked')[0];
            var usd=$('#usd').maskMoney('unmasked')[0];
            if(xmid==null)
            {
                xmid=0;
            }
            if(hetongid==null)
            {
                hetongid=0;
            }
            if(guojiaid==null)
            {
                guojiaid=0;
            }

            if(fromtime==null)
            {
                fromtime="";
            }
            if(endtime==null)
            {
                endtime="";
            }
            if(rmb==null)
            {
                rmb="";
            }
            if(usd==null)
            {
                usd="";
            }
            if(gongqi==null)
            {
                gongqi="";
            }
            location.href = "?xm_id="+ xmid+"&hetong_id="+hetongid+"&guojia_id="+guojiaid+"&ssdw_id="+ssdw_id+"&fromtime="+fromtime+"&endtime="+endtime+"&rmb="+rmb+"&usd="+usd+"&gongqi="+gongqi;
        });
        var showssdw = new Array();
        try{
            showssdw=ssdw_id.split(':');
        }catch(err){}
        $('.ssdw').each(function(){
            //var idName= this;
            //$('#idName').val();
            if ($.inArray($(this).val(),showssdw)>=0) {
                $(this).addClass('btn-success');
                $(this).removeClass('btn-white');
            }else
            {
                $(this).addClass('btn-white');
                $(this).removeClass('btn-success');
            }

        });

        if(showssdw.length==0)
        {
            $('.ssdw').each(function () {
                //var idName= this;ar zhuanye_id = getUrlParam('zhuanye_id');
                //$('#idName').val();
                if ($(this).val() == '0') {
                    $(this).addClass('btn-success');
                    $(this).removeClass('btn-white');
                }

            });
        }

        //////////////////////////////////////国家
        var guojia_id = getUrlParam('guojia_id');
        if(guojia_id=='')
        {
            guojia_id='0:';
        }
        var arrayguojia = new Array();
        try {
            arrayguojia = guojia_id.split(':');
        }catch(err){}


        $('.guojia').click( function() {
            if($.inArray($(this).val(),arrayguojia)>=0)
            {
                arrayguojia.removeByValue($(this).val());
            }else
            {
                arrayguojia.push($(this).val());
            }
            arrayguojia = $.unique(arrayguojia);
            arrayguojia = arrayguojia.sort();
            if(arrayguojia.length>1)
            {

                arrayguojia.removeByValue('');
                arrayguojia.removeByValue('0');
            }
            if($(this).val()=='0')
            {
                arrayguojia.length = 0;
                arrayguojia.push(0);
            }
            $('#guojia_id').val('');
            for(var i=0;i<arrayguojia.length;i++)
            {
                $('#guojia_id').val($('#guojia_id').val()+arrayguojia[i]+':');
            }
            //$('#zhuanye_id').val(ClearSymbol($('#zhuanye_id').val()));
            guojia_id = ClearSymbol($('#guojia_id').val());
            $('#guojia_id').val(guojia_id);

            var xmid=getUrlParam('xm_id');
            var hetongid=getUrlParam('hetong_id');
            var ssdwid=getUrlParam('ssdw_id');
            var gongqi=getUrlParam('gongqi');
            var fromtime=getUrlParam('fromtime');
            var endtime=getUrlParam('endtime');
            var rmb=$('#rmb').maskMoney('unmasked')[0];
            var usd=$('#usd').maskMoney('unmasked')[0];
            if(xmid==null)
            {
                xmid=0;
            }
            if(hetongid==null)
            {
                hetongid=0;
            }

            if(ssdwid==null)
            {
                ssdwid="";
            }
            if(fromtime==null)
            {
                fromtime="";
            }
            if(endtime==null)
            {
                endtime="";
            }
            if(rmb==null)
            {
                rmb="";
            }
            if(usd==null)
            {
                usd="";
            }
            if(gongqi==null)
            {
                gongqi="";
            }
            location.href = "?xm_id="+ xmid+"&hetong_id="+hetongid+"&guojia_id="+guojia_id+"&ssdw_id="+ssdwid+"&fromtime="+fromtime+"&endtime="+endtime+"&rmb="+rmb+"&usd="+usd+"&gongqi="+gongqi;
        });
        var showguojia = new Array();
        try{
            showguojia=guojia_id.split(':');
        }catch(err){}
        $('.guojia').each(function(){
            //var idName= this;
            //$('#idName').val();
            if ($.inArray($(this).val(),showguojia)>=0) {
                $(this).addClass('btn-success');
                $(this).removeClass('btn-white');
            }else
            {
                $(this).addClass('btn-white');
                $(this).removeClass('btn-success');
            }

        });

        if(showguojia.length==0)
        {
            $('.guojia').each(function () {
                //var idName= this;ar zhuanye_id = getUrlParam('zhuanye_id');
                //$('#idName').val();
                if ($(this).val() == '0') {
                    $(this).addClass('btn-success');
                    $(this).removeClass('btn-white');
                }

            });
        }



        /////////////////////////////////////////查询
        $('.query').click( function() {
            var xmid=getUrlParam('xm_id');
            var hetongid=getUrlParam('hetong_id');
            var guojiaid=getUrlParam('guojia_id');
            var ssdwid=getUrlParam('ssdw_id');
            var gongqi=$('#gongqi').val();
            var fromtime=$('#fromtime').val()
            var endtime=$('#endtime').val()
            var rmb=$('#rmb').maskMoney('unmasked')[0];
            var usd=$('#usd').maskMoney('unmasked')[0];
            if(xmid==null)
            {
                xmid=0;
            }
            if(hetongid==null)
            {
                hetongid=0;
            }
            if(guojiaid==null)
            {
                guojiaid=0;
            }
            if(ssdwid==null)
            {
                ssdwid=0;
            }
            if(fromtime==null)
            {
                fromtime="";
            }
            if(endtime==null)
            {
                endtime="";
            }
            if(rmb==null)
            {
                rmb="";
            }
            if(usd==null)
            {
                usd="";
            }
            if(gongqi==null)
            {
                gongqi="";
            }
            location.href = "?xm_id="+ xmid+"&hetong_id="+hetongid+"&guojia_id="+guojiaid+"&ssdw_id="+ssdwid+"&fromtime="+fromtime+"&endtime="+endtime+"&rmb="+rmb+"&usd="+usd+"&gongqi="+gongqi;
        });


////////////////////////////////////////////加载




        $('#fromtime').val(getUrlParam('fromtime'));
        if (getUrlParam('fromtime')=='null')
        {
            $('#fromtime').val("");
        }

        $('#endtime').val(getUrlParam('endtime'));
        if (getUrlParam('endtime')=='null')
        {
            $('#endtime').val("");
        }

        $('#rmb').val(getUrlParam('rmb'));
        if (getUrlParam('rmb')=='null')
        {
            $('#rmb').val("");
        }

        $('#usd').val(getUrlParam('usd'));
        if (getUrlParam('usd')=='null')
        {
            $('#usd').val("");
        }

        $('#gongqi').val(getUrlParam('gongqi'));
        if (getUrlParam('gongqi')=='null')
        {
            $('#gongqi').val("");
        }


















        $('#data_5 .input-daterange').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });




        $('#rmb').maskMoney();
        $('#usd').maskMoney();




    });



</script>



<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>业绩管理</h5>
    </div>
  </div>
</div>


<div class="ibox-content" style="height: 270px;">
  <table class="col-lg-12 table">

    <tr>
      <td class="col-sm-2">项目类型：</td>
      <td class="col-lg-11">
        &nbsp;<button  class="xm btn btn-success btn-xs btn-w-s" style="margin-top: 3px;" value="0">全部</button>
        <%@projecttypes.each do |f|%>
            &nbsp;<button class="xm btn btn-white btn-xs" value=<%= f.id %>><%= f.projecttype %></button>
        <%end%>
        <input type="hidden" id="xm_id" value="0">
      </td>
    </tr>

    <tr>
      <td class="col-sm-1">合同类型：</td>
      <td class="col-lg-11">
        &nbsp;<button  class="hetong btn btn-success btn-xs btn-w-s" style="margin-top: 3px;" value="0">全部</button>
        <%@hetongs.each do |f|%>
            &nbsp;<button class="hetong btn btn-white btn-xs" value=<%= f.id %>><%= f.hetong %></button>
        <%end%>
        <input type="hidden" id="hetong_id" value="0">
      </td>
    </tr>
    <tr>
      <td class="col-sm-1">国家：</td>
      <td class="col-lg-11">
        &nbsp;<button  class="guojia btn btn-success btn-xs btn-w-s" style="margin-top: 3px;" value="0">全部</button>
        <%@guojias.each do |f|%>
            &nbsp;<button class="guojia btn btn-white btn-xs" value=<%= f.id %>><%= f.guojia %></button>
        <%end%>
        <input type="hidden" id="guojia_id" value="0">
      </td>
    </tr>

    <tr>
      <td class="col-sm-1">实施名义：</td>
      <td class="col-lg-11">
        &nbsp;<button  class="ssdw btn btn-success btn-xs btn-w-s" style="margin-top: 3px;" value="0">全部</button>
        <%@ssdws.each do |f|%>
            &nbsp;<button class="ssdw btn btn-white btn-xs" value=<%= f.id %>><%= f.name %></button>
        <%end%>
        <input type="hidden" id="ssdw_id" value="0">
      </td>
    </tr>


    <tr>

      <td class="col-lg-12" colspan="2">
        <table>

          <td>

          </td>
          <td>
            <input style="width: 120px;" type="hidden" class="input-sm form-control" id="gongqi">
          </td>

          <td>
            &nbsp;&nbsp;开完工时间：
          </td>
          <td>
            <div class="form-group" id="data_5">

              <div class="input-daterange input-group" id="datepicker" style="margin-top: 14px;">
                <input type="text" class="input-sm form-control" name="start" id="fromtime"  />
                <span class="input-group-addon">到</span>
                <input type="text" class="input-sm form-control" name="end" id="endtime" />
              </div>
            </div>
          </td>
          <td>
            &nbsp;&nbsp;合同金额：
          </td>
          <td>
            <div class="input-group m-b" style="margin-top: 14px;"><span class="input-group-addon" >&yen;</span>
              <input style="width: 120px;" type="text" class="currency form-control" id="rmb">
            </div>
          </td>
          <td>
            <div class="input-group m-b" style="margin-top: 14px;"><span class="input-group-addon" >$</span>
              <input style="width: 120px;" type="text" class="currency form-control" id="usd">
            </div>
          </td>
          <td>
            &nbsp;<button class="query btn btn-success btn-xs btn-w-s" style="margin-top: 3px;">查询</button>
          </td>
        </table>
      </td>
    </tr>

  </table>

</div>









<div class="ibox-content">
  <% @projecttypes.each do |p| %>

      <% pid = '0' %>
      <% params_xmid = Array.new %>
      <% if params[:xm_id] %>
          <% if params[:xm_id].include?":" %>
              <% params_xmid = params[:xm_id].split(':') %>
          <% else %>
              <% pid =params[:xm_id] %>
          <% end %>
      <% end %>

      <% if pid == '' %>
          <% pid = '0' %>
      <% end %>

      <% if pid =='0' || pid ==p.id.to_s  ||  params_xmid.include?(p.id.to_s) %>


      <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins border-bottom">
            <div class="ibox-title">
              <h5><%= p.projecttype %> <%= p.id %> </h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <% if pid == p.id.to_s || params_xmid.include?(p.id.to_s) %>

                      <i class="fa fa-chevron-up"></i>


                </a>
              </div>
            </div>
            <div class="ibox-content" style="display: block;">
                      <% else %>

                      <i class="fa fa-chevron-down"></i>


                      </a>
                      </div>
                      </div>
                      <div class="ibox-content" style="display: none;">

                  <% end %>
              <table class="table table-hover table-bordered">
                <thead>
                <tr>
                  <th>项目名称</th>
                  <th>开工时间</th>
                  <th>完工时间</th>
                  <th>合同金额</th>
                  <th>合同类型</th>
                  <th>国家</th>
                  <th>实施单位</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>





                <% @yejis.each do |yeji| %>
                    <% if yeji.projecttype_id == p.id %>
                        <tr>

                          <td>
                            <% @yejiatts.each do |f| %>
                                <% if f.yeji_id.to_s == yeji.id.to_s && f.keyword =='xmmc' %>

                                    <%= link_to f.content,yeji_path(yeji) %>
                                    <% break %>
                                <% end %>
                            <% end %>

                            <% @yejiatts.each do |f| %>
                                <% if f.yeji_id.to_s == yeji.id.to_s && f.keyword =='xmmc' %>


                                    <% @languages.each do |l| %>

                                        <% if f.langguage_id == l.id %>

                                            <%= image_tag(l.flag.url,width: '30px') %>
                                        <% end %>

                                    <% end %>



                                <% end %>
                            <% end %>


                          </td>

                          <td>
                            <% if yeji.begindate %>
                            <%= yeji.begindate.strftime('%Y-%m-%d').to_s %>
                                <% else %>
                            &nbsp;
                                <% end %>
                          </td>

                          <td>
                            <% if yeji.enddate %>
                            <%= yeji.enddate.strftime('%Y-%m-%d').to_s %>
                                <% else %>
                            &nbsp;
                                <% end %>
                          </td>

                          <td>
                            <%= yeji.hetonge %>
                          </td>


                          <td>
                            <% @hetongs.each do |f| %>
                                <% if f.id.to_s == yeji.hetong_id.to_s %>
                                    <%= f.hetong %>
                                    <% break %>
                                <% end %>
                            <% end %>
                          </td>

                          <td>
                            <% @guojias.each do |f| %>
                                <% if f.id.to_s == yeji.guojia_id.to_s %>
                                    <%= f.guojia %>
                                    <% break %>
                                <% end %>
                            <% end %>
                          </td>

                          <td>
                            <% @ssdws.each do |f| %>
                                <% if f.id.to_s == yeji.ssdw_id.to_s %>
                                    <%= f.name %>
                                    <% break %>
                                <% end %>
                            <% end %>
                          </td>

                          <td>
                            <% if session[:auth]=='1' %>
                            <%= link_to "", edit_yeji_path(yeji),class: "fa fa-pencil" %>&nbsp;
                            <%= link_to '', yeji, class: "fa fa-trash", method: :delete, data: { confirm: 'Are you sure?' } %>
                                <% end %>
                          </td>
                        </tr>
                    <% end %>
                <% end %>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>

<% end %>
  <% end %>


  <div >
    <% if session[:auth]=='1' %>
    <%= link_to "新增", new_yeji_path,class: "btn btn-w-m btn-success mylink pull-right" %>
        <% end %>
    <br>

  </div>
</div>