<%= render 'left' %>
<%= render 'top' %>

<script>
$(document).ready(function () {



    $('.currency').formatCurrency();





});
</script>

<div class="ibox-content form-horizontal m-t">



  <div class="form-group">
    <label class="col-sm-3 control-label">项目名称</label>

    <div class="col-sm-9" style="margin-top: 6px;">

      <% @yejiatts.each do |f| %>
          <% if f.keyword == 'xmmc' %>

                <% @languages.each do |flag| %>
                    <% if f.langguage_id.to_s == flag.id.to_s %>
                        <%=image_tag(flag.flag.url,width: '35px')  %>
                        <% break %>
                    <% end %>
                <% end %>
                <%= f.content %>
              <br>
          <% end %>
      <% end %>
    </div>
  </div>









  <div class="form-group">
    <label class="col-sm-3 control-label">工期(年)</label>
    <div class="col-sm-9" style="margin-top: 6px;">
      <%= @yeji.gongqi %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">合同金额</label>
    <div class="col-sm-5" style="margin-top: 6px;">
      &yen;&nbsp;<label class="currency" ><%= @yeji.hetonge %></label><br>
      $&nbsp;<label class="currency" ><%= @yeji.meiyuan %></label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">业主名称</label>

    <div class="col-sm-9" style="margin-top: 6px;">

      <% @yejiatts.each do |f| %>
          <% if f.keyword == 'yzmc' %>

                <% @languages.each do |flag| %>
                    <% if f.langguage_id.to_s == flag.id.to_s %>
                        <%=image_tag(flag.flag.url,width: '35px')  %>
                        <% break %>
                    <% end %>
                <% end %>
                <%= f.content %>
              <br>
          <% end %>
      <% end %>

    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">业主地址</label>

    <div class="col-sm-9" style="margin-top: 6px;">

      <% @yejiatts.each do |f| %>
          <% if f.keyword == 'yzdz' %>

                <% @languages.each do |flag| %>
                    <% if f.langguage_id.to_s == flag.id.to_s %>
                        <%=image_tag(flag.flag.url,width: '35px')  %>
                        <% break %>
                    <% end %>
                <% end %>
                <%= f.content %>
              <br>
          <% end %>
      <% end %>

    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">业主电话</label>
    <div class="col-sm-9" style="margin-top: 6px;">
      <%= @yeji.telyezhu %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">付款金额</label>
    <div class="col-sm-9" style="margin-top: 6px;">
      <lable class="currency">
      <%= @yeji.fukunprice %>
      </lable>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">合同类型</label>
    <div class="col-sm-9" style="margin-top: 6px;">
      <%= @hetong.hetong %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">国家</label>
    <div class="col-sm-9" style="margin-top: 9px;">
      <%= @coun.guojia %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">实施单位</label>
    <div class="col-sm-9" style="margin-top: 6px;">
      <%= @ssdw.name %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">项目类型</label>
    <div class="col-sm-5">
      <%= @projecttype.projecttype %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">项目简介</label>

    <div class="col-sm-9">

      <% @yejiatts.each do |f| %>
          <% if f.keyword == 'xmjj' %>

                <% @languages.each do |flag| %>
                    <% if f.langguage_id.to_s == flag.id.to_s %>
                        <%=image_tag(flag.flag.url,width: '35px')  %>
                        <% break %>
                    <% end %>
                <% end %>
                <%= f.content %>
              <br>
          <% end %>
      <% end %>

    </div>
  </div>



</div>

<%= render 'expands/showform' %>