<script>
    $(document).ready(function () {
        $('.file-box').each(function () {
            animationHover(this, 'pulse');
        });
        $('#jl_submit').click(function(){
            if($('#jl_att').val()=='')
            {
                $('#jl_alert_lab').html('简历不能为空！');
                $('#jl_alert').show();

                return false;
            }
        });
    });
</script>
<div class="ibox-content form-horizontal m-t">
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;简历</h3>


  <% @peo.peoatts.each do |f| %>
      <% if f.keyword.to_s == "jl" %>

          <div class="file-box">
            <div class="file">
              <a href=<%= f.attch.url %>>

                <span class="corner" ></span>
                <div class="image" align= "center">
                  <% if f.attch_content_type[0,5]=="image"%>
                      <%= image_tag(f.attch.url,width: "300px",title:f.attch_file_name) %>
                  <%else%>
                      <%= image_tag("attch.png",width:"100px",title:f.attch_file_name) %>
                  <%end%>
                </div>

                <div class="file-name">
                  <%= f.attch_file_name %>
                  <%= link_to '',[f.peo,f], class: "fa fa-trash pull-right fa-2x", method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </a>
            </div>
          </div>
      <% end %>

  <% end %>


  <%= form_for([@peo,@peo.peoatts.build],:html => {:class=>'form-horizontal m-t',id:"signupForm",:multipart => true}) do |f| %>
      <div class="form-group">
        <div class="col-sm-3">
          <%= f.file_field :attch ,class:"form-control",id:'jl_att'%>
          <%= f.hidden_field :keyword, value:"jl"%>
          <%= f.hidden_field :peo_id,value: @peo.id %>
        </div>
        <div>
          <button class="btn btn-w-m btn-success mylink pull-left" type="submit" id="jl_submit">上传简历</button>
          <i class="pull-left">&nbsp;</i>
          <div id="jl_alert" class="alert alert-danger text-center col-sm-2 " style="display: none;padding-top: 8px;padding-bottom: 0px;">
            <label id="jl_alert_lab"></label></a>
          </div>
        </div>
      </div>
  <% end %>
</div>