<%= render 'left' %>
<%= render 'top' %>

<script>
    $(document).ready(function () {

        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }

        Array.prototype.removeByValue = function(val){
            for(var i = 0;i<this.length;i++){
                if(this[i]==val){
                    this.splice(i,1);
break;
                }
            }
        }

        function ClearSymbol(name){
            var myclear = name;
            if(name.substr(0,1)==':')
            {
                myclear = name.substr(1,name.length);
            }
            if(name.substr(name.length-1,1)==':')
            {
                myclear = name.substr(0,name.length-1);
            }
            return myclear;
        }




//////////////////////////////////////专业部分
        var zhuanye_id = getUrlParam('zhuanye_id');
        if(zhuanye_id=='')
        {
            zhuanye_id='0:';
        }
        var arrayzhuanye = new Array();
        try {
            arrayzhuanye = zhuanye_id.split(':');
        }catch(err){}
        //$('.zhuanye').removeClass('btn-success');
        //$('.zhuanye').addClass('btn-white');

        $('.zhuanye').click( function() {
            if($.inArray($(this).val(),arrayzhuanye)>=0)
            {
                arrayzhuanye.removeByValue($(this).val());
            }else
            {
                arrayzhuanye.push($(this).val());
            }
            arrayzhuanye = $.unique(arrayzhuanye);
            arrayzhuanye = arrayzhuanye.sort();
            if(arrayzhuanye.length>1)
            {

                arrayzhuanye.removeByValue('');
                arrayzhuanye.removeByValue('0');
            }
            if($(this).val()=='0')
            {
                arrayzhuanye.length = 0;
                arrayzhuanye.push(0);
            }
            $('#zhuanye_id').val('');
            for(var i=0;i<arrayzhuanye.length;i++)
            {
                $('#zhuanye_id').val($('#zhuanye_id').val()+arrayzhuanye[i]+':');
            }
            //$('#zhuanye_id').val(ClearSymbol($('#zhuanye_id').val()));
            zhuanye_id = ClearSymbol($('#zhuanye_id').val());
            $('#zhuanye_id').val(zhuanye_id);
            var xueliid=getUrlParam('xueli_id');
            var zhichengid=getUrlParam('zhicheng_id');
            var zczzyid=getUrlParam('zczzy_id');
            var worktime=$('#worktime').val();
            var name = encodeURI($('#zhuanye_name').val());

            if(xueliid==null)
            {
                xueliid=0;
            }
            if(zhichengid==null)
            {
                zhichengid=0;
            }
            if(zczzyid==null)
            {
                zczzyid=0;
            }
            if(name==null)
            {
                name="";
            }
            if(worktime==null)
            {
                worktime="";
            }


            location.href = "?zhuanye_id="+$('#zhuanye_id').val() + "&xueli_id=" + xueliid + "&zhicheng_id=" + zhichengid+"&zczzy_id="+zczzyid+"&name="+name+"&worktime="+worktime;
        });
        var showzhuanye = new Array();
        try{
            showzhuanye=zhuanye_id.split(':');
        }catch(err){}
//        alert(showzhuanye);

            $('.zhuanye').each(function () {
                //var idName= this;
                //$('#idName').val();

                if ($.inArray($(this).val(),showzhuanye)>=0) {
                    $(this).addClass('btn-success');
                    $(this).removeClass('btn-white');
                }else
                {
                    $(this).addClass('btn-white');
                    $(this).removeClass('btn-success');
                }

            });

        if(showzhuanye.length==0)
        {
                        $('.zhuanye').each(function () {
                //var idName= this;ar zhuanye_id = getUrlParam('zhuanye_id');
                //$('#idName').val();
                if ($(this).val() == '0') {
                    $(this).addClass('btn-success');
                    $(this).removeClass('btn-white');
                }

            });
        }




//////////////////////////////////////学历部分
        var xueli_id = getUrlParam('xueli_id');
        var arrayxuli = new Array();
        try {
            arrayxuli = xueli_id.split(':');
        }catch(err){}


        $('.xueli').click( function() {
            if($.inArray($(this).val(),arrayxuli)>=0)
            {
                arrayxuli.removeByValue($(this).val());
            }else
            {
                arrayxuli.push($(this).val());
            }
            arrayxuli = $.unique(arrayxuli);
            arrayxuli = arrayxuli.sort();
            if(arrayxuli.length>1)
            {

                arrayxuli.removeByValue('');
                arrayxuli.removeByValue('0');
            }
            if($(this).val()=='0')
            {
                arrayxuli.length = 0;
                arrayxuli.push(0);
            }
            $('#xueli_id').val('');
            for(var i=0;i<arrayxuli.length;i++)
            {
                $('#xueli_id').val($('#xueli_id').val()+arrayxuli[i]+':');
            }
            //$('#zhuanye_id').val(ClearSymbol($('#zhuanye_id').val()));
            xueli_id = ClearSymbol($('#xueli_id').val());
            $('#xueli_id').val(xueli_id);
            var zhuanyeid=getUrlParam('zhuanye_id');
            var zhichengid=getUrlParam('zhicheng_id');
            var zczzyid=getUrlParam('zczzy_id');
            var worktime=$('#worktime').val();
            var name = encodeURI($('#zhuanye_name').val());

            if(zhuanyeid==null)
            {
                zhuanyeid=0;
            }
            if(zhichengid==null)
            {
                zhichengid=0;
            }
            if(zczzyid==null)
            {
                zczzyid=0;
            }
            if(name==null)
            {
                name="";
            }
            if(worktime==null)
            {
                worktime="";
            }
            location.href = "?zhuanye_id=" + zhuanyeid + "&xueli_id=" + $('#xueli_id').val() +"&zhicheng_id=" + zhichengid +"&zczzy_id="+zczzyid+"&name="+name+"&worktime="+worktime;
        });
        var showxueli = new Array();
        try{
            showxueli=xueli_id.split(':');
        }catch(err){}
        $('.xueli').each(function(){
            //var idName= this;
            //$('#idName').val();
            if ($.inArray($(this).val(),showxueli)>=0) {
                $(this).addClass('btn-success');
                $(this).removeClass('btn-white');
            }else
            {
                $(this).addClass('btn-white');
                $(this).removeClass('btn-success');
            }

        });

        if(showxueli.length==0)
        {
            $('.xueli').each(function () {
                //var idName= this;ar zhuanye_id = getUrlParam('zhuanye_id');
                //$('#idName').val();
                if ($(this).val() == '0') {
                    $(this).addClass('btn-success');
                    $(this).removeClass('btn-white');
                }

            });
        }

//////////////////////////////////////职称部分
        var zhicheng_id = getUrlParam('zhicheng_id');
        var arrayzhicheng = new Array();
        try {
            arrayzhicheng = zhicheng_id.split(':');
        }catch(err){}


        $('.zhicheng').click( function() {
            if($.inArray($(this).val(),arrayzhicheng)>=0)
            {
                arrayzhicheng.removeByValue($(this).val());
            }else
            {
                arrayzhicheng.push($(this).val());
            }
            arrayzhicheng = $.unique(arrayzhicheng);
            arrayzhicheng = arrayzhicheng.sort();
            if(arrayzhicheng.length>1)
            {

                arrayzhicheng.removeByValue('');
                arrayzhicheng.removeByValue('0');
            }
            if($(this).val()=='0')
            {
                arrayzhicheng.length = 0;
                arrayzhicheng.push(0);
            }
            $('#zhicheng_id').val('');
            for(var i=0;i<arrayzhicheng.length;i++)
            {
                $('#zhicheng_id').val($('#zhicheng_id').val()+arrayzhicheng[i]+':');
            }
            //$('#zhuanye_id').val(ClearSymbol($('#zhuanye_id').val()));
            zhicheng_id = ClearSymbol($('#zhicheng_id').val());
            $('#zhicheng_id').val(zhicheng_id);
            var zhuanyeid=getUrlParam('zhuanye_id');
            var xueliid=getUrlParam('xueli_id');
            var zczzyid=getUrlParam('zczzy_id');
            var worktime=$('#worktime').val();
            var name = encodeURI($('#zhuanye_name').val());

            if(zhuanyeid==null)
            {
                zhuanyeid=0;
            }
            if(xueliid==null)
            {
                xueliid=0;
            }
            if(zczzyid==null)
            {
                zczzyid=0;
            }
            if(name==null)
            {
                name="";
            }
            if(worktime==null)
            {
                worktime="";
            }
            location.href = "?zhuanye_id=" + zhuanyeid + "&xueli_id=" + xueliid + "&zhicheng_id=" +  $('#zhicheng_id').val()+"&zczzy_id=" + zczzyid+"&name=" + name+"&worktime="+worktime;
        });
        var showzhicheng = new Array();
        try{
            showzhicheng=zhicheng_id.split(':');
        }catch(err){}
        $('.zhicheng').each(function(){
            //var idName= this;
            //$('#idName').val();
            if ($.inArray($(this).val(),showzhicheng)>=0) {
                $(this).addClass('btn-success');
                $(this).removeClass('btn-white');
            }else
            {
                $(this).addClass('btn-white');
                $(this).removeClass('btn-success');
            }

        });

        if(showzhicheng.length==0)
        {
            $('.zhicheng').each(function () {
                //var idName= this;ar zhuanye_id = getUrlParam('zhuanye_id');
                //$('#idName').val();
                if ($(this).val() == '0') {
                    $(this).addClass('btn-success');
                    $(this).removeClass('btn-white');
                }

            });
        }


        //////////////////////////////////////职称证专业部分
        var zczzy_id = getUrlParam('zczzy_id');
        var arrayzczzy = new Array();
        try {
            arrayzczzy = zczzy_id.split(':');
        }catch(err){}


        $('.zczzy').click( function() {
            if($.inArray($(this).val(),arrayzczzy)>=0)
            {
                arrayzczzy.removeByValue($(this).val());
            }else
            {
                arrayzczzy.push($(this).val());
            }
            arrayzczzy = $.unique(arrayzczzy);
            arrayzczzy = arrayzczzy.sort();
            if(arrayzczzy.length>1)
            {

                arrayzczzy.removeByValue('');
                arrayzczzy.removeByValue('0');
            }
            if($(this).val()=='0')
            {
                arrayzczzy.length = 0;
                arrayzczzy.push(0);
            }
            $('#zczzy_id').val('');
            for(var i=0;i<arrayzczzy.length;i++)
            {
                $('#zczzy_id').val($('#zczzy_id').val()+arrayzczzy[i]+':');
            }
            //$('#zhuanye_id').val(ClearSymbol($('#zhuanye_id').val()));
            zczzy_id = ClearSymbol($('#zczzy_id').val());
            $('#zczzy_id').val(zczzy_id);
            var zhuanyeid=getUrlParam('zhuanye_id');
            var xueliid=getUrlParam('xueli_id');
            var worktime=$('#worktime').val();
            var zhichengid=getUrlParam('zhicheng_id');
            var name = encodeURI($('#zhuanye_name').val());

            if(zhuanyeid==null)
            {
                zhuanyeid=0;
            }
            if(xueliid==null)
            {
                xueliid=0;
            }
            if(zhichengid==null)
            {
                zhichengid=0;
            }
            if(name==null)
            {
                name="";
            }
            if(worktime==null)
            {
                worktime="";
            }
            location.href = "?zhuanye_id=" + zhuanyeid + "&xueli_id=" + xueliid + "&zhicheng_id=" +zhichengid +"&zczzy_id=" +  $('#zczzy_id').val()+"&name="+name+"&worktime="+worktime;
        });
        var showzczzy = new Array();
        try{
            showzczzy=zczzy_id.split(':');
        }catch(err){}
        $('.zczzy').each(function(){
            //var idName= this;
            //$('#idName').val();
            if ($.inArray($(this).val(),showzczzy)>=0) {
                $(this).addClass('btn-success');
                $(this).removeClass('btn-white');
            }else
            {
                $(this).addClass('btn-white');
                $(this).removeClass('btn-success');
            }

        });

        if(showzczzy.length==0)
        {
            $('.zczzy').each(function () {
                //var idName= this;ar zhuanye_id = getUrlParam('zhuanye_id');
                //$('#idName').val();
                if ($(this).val() == '0') {
                    $(this).addClass('btn-success');
                    $(this).removeClass('btn-white');
                }

            });
        }


        var zhuanye_name=getUrlParam('name');
        //zhuanye_name= URLDecoder.decode(zhuanye_name, "UTF-8")
        zhuanye_name=decodeURI(zhuanye_name);
        if(zhuanye_name==null)
        {
            zhuanye_name="";
        }
        //$('#zhuanye_name').val(zhuanye_name);


        $('.query').click( function() {
            var zhuanyeid=getUrlParam('zhuanye_id');
            var xueliid=getUrlParam('xueli_id');
            var zhichengid=getUrlParam('zhicheng_id');
            var zczzyid=getUrlParam('zczzy_id');
            var worktime=$('#worktime').val();
            if(zhuanyeid==null)
            {
                zhuanyeid=0;
            }
            if(xueliid==null)
            {
                xueliid=0;
            }
            if(zhichengid==null)
            {
                zhichengid=0;
            }
            if(zczzyid==null)
            {
                zczzyid=0;
            }
            if(worktime==null)
            {
                worktime=0;
            }
            //var sname = encodeURI($('#zhuanye_name').val(),"UTF-8");
            var sname = encodeURI($('#zhuanye_name').val());
            //var sname = java.net.URLDecoder.decode($('#zhuanye_name').val(),"UTF-8")
            location.href = "?zhuanye_id=" + zhuanyeid + "&xueli_id=" + xueliid + "&zhicheng_id=" +zhichengid +"&zczzy_id=" +  zczzyid +"&name="+sname+"&worktime="+worktime;
            //$.post("peospeos");


        });
        $('#worktime').val(getUrlParam('worktime'));


        $('#worktime').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });


    });
</script>

<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>人员管理</h5>
      <%= @testsql %>
<%= @zhuanye_name %>
    </div>

    <div class="ibox-content" style="height: 240px;">
      <table class="col-lg-12 table">

        <tr>
          <td >

          </td>
          <td>
            <table class="col-sm-6">
              <tr>
                <td>
                  姓名：
                </td>
                <td>
                  <input class="from-control col-sm-12" type="text" id="zhuanye_name" value= <%= @zhuanye_name %> >
                </td>

                <td align="right">
                  &nbsp;工作年限：
                </td>
                <td>
                  <input class="from-control col-sm-12" type="text" id="worktime" >
                </td>
                <td >
                  &nbsp;<button class="query btn btn-success btn-xs btn-w-s" style="margin-top: 3px;">查询</button>
                </td>
              </tr>
            </table>

          </td>


        </tr>

        <tr>
          <td class="col-sm-1">专业：</td>
          <td class="col-lg-11">
            <button class="zhuanye btn btn-success btn-xs" value="0">全部</button>
            <% @zhuangyes.each do |zhuangye| %>
                &nbsp;<button class="zhuanye btn btn-white btn-xs" value=<%= zhuangye.id %>><%= zhuangye.zhuangye %></button>
            <% end %>
          </td>
          <td>
            <input type="hidden" id="zhuanye_id" value="0">
          </td>
        </tr>

        <tr>
          <td class="col-sm-1">学历：</td>
          <td class="col-lg-11">
            <button class="xueli btn btn-success btn-xs" value="0">全部</button>
            <% @xuelis.each do |xueli| %>
                &nbsp;<button class="xueli btn btn-white btn-xs" value=<%= xueli.id %>><%= xueli.xueli %></button>
            <% end %>
          </td>
          <td>
            <input type="hidden" id="xueli_id" value="0">
          </td>
        </tr>


        <tr>
          <td class="col-sm-1">职称：</td>
          <td class="col-lg-11">
            <button class="zhicheng btn btn-success btn-xs" value="0">全部</button>
            <% @zhichengs.each do |zhicheng| %>
                &nbsp;<button class="zhicheng btn btn-white btn-xs" value=<%= zhicheng.id %>><%= zhicheng.zhicheng %></button>
            <% end %>
          </td>
          <td>
            <input type="hidden" id="zhicheng_id" value="0">
          </td>
        </tr>

        <tr>
          <td class="col-sm-1">职称证专业：</td>
          <td class="col-lg-11">
            <button class="zczzy btn btn-success btn-xs" value="0">全部</button>
            <% @zczs.each do |zcz| %>
                &nbsp;<button class="zczzy btn btn-white btn-xs" value=<%= zcz.id %>><%= zcz.zcz %></button>
            <% end %>
          </td>
          <td>
            <input type="hidden" id="zczzy_id" value="0">
          </td>
        </tr>

      </table>

    </div>


    <div class="ibox-content">

      <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <th>姓名</th>
          <th>工作时间</th>
          <th>学历</th>
          <th>专业</th>
          <th>职称</th>
          <th>职称证专业</th>
          <th>操作</th>




        </tr>
        </thead>
        <tbody>
        <% @peos.each do |peo| %>
            <tr>
              <td>

                <%= link_to peo.name,peo_path(peo) %>
              </td>

              <td>

                <%= link_to peo.worktime.strftime('%Y-%m-%d').to_s,peo_path(peo) %>
              </td>

              <td>
                <% @xuelis.each do |xueli| %>
                    <%if peo.xueli_id == xueli.id %>

                        <%= link_to xueli.xueli,peo_path(peo) %>
                        <% break %>
                    <% end %>
                <% end %>
              </td>

              <td>
                <% @zhuangyes.each do |zhuangye| %>
                    <%if peo.zhuangye_id == zhuangye.id %>

                        <%= link_to zhuangye.zhuangye,peo_path(peo) %>
                        <% break %>
                    <% end %>
                <% end %>
              </td>



              <td>
                <% @zhichengs.each do |zhicheng| %>
                    <%if peo.zhicheng_id == zhicheng.id %>

                        <%= link_to zhicheng.zhicheng,peo_path(peo) %>
                        <% break %>
                    <% end %>
                <% end %>
              </td>

              <td>
                <% @zczs.each do |zcz| %>
                    <%if peo.zcz_id == zcz.id %>

                        <%= link_to zcz.zcz,peo_path(peo) %>
                        <% break %>
                    <% end %>
                <% end %>
              </td>

              <td>
                <% if session[:auth]=='1' %>
                <%= link_to "", edit_peo_path(peo),class: "fa fa-pencil" %>&nbsp;
                <%= link_to '', peo, class: "fa fa-trash", method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <% if session[:auth]=='1' %>
      <%= link_to "新增", new_peo_path,class: "btn btn-w-m btn-success mylink pull-right" %>
          <% end %>
      <br>
    </div>

  </div>
</div>