<%= render 'left' %>
<%= render 'top' %>

<div class="ibox-content form-horizontal m-t">



  <div class="form-group">
    <label class="col-sm-3 control-label">姓名：</label>
    <div class="col-sm-5" style="margin-top: 6px;">
      <%= @peo.name %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">性别：</label>
    <div class="col-sm-5" style="margin-top: 6px;">
      <% if @peo.sex == 0 %>
      男
          <% else %>
      女
          <% end %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">生日：</label>
    <div class="col-sm-5" style="margin-top: 6px;">
      <%= @peo.birthday.to_date %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">工作时间：</label>
    <div class="col-sm-5" style="margin-top: 6px;">
      <%= @peo.worktime.to_date %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">专业：</label>
    <div class="col-sm-5" style="margin-top: 6px;">
      <%= @zhuangye.zhuangye %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">学历：</label>
    <div class="col-sm-5" style="margin-top: 6px;">
      <%= @xueli.xueli %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">学校：</label>
    <div class="col-sm-5" style="margin-top: 6px;">
      <%= @peo.school %>
    </div>
  </div>








  <div class="form-group">
    <label class="col-sm-3 control-label">职称证专业：</label>
    <div class="col-sm-5" style="margin-top: 6px;">
      <%= @zcz.zcz %>
    </div>
  </div>





</div>

<%= render 'peoatts/showbyxx' %>
<%= render 'peoatts/showjl' %>
<%= render 'peoatts/showxlz' %>
<%= render 'peoatts/showzcz' %>
<%= render 'peoatts/showzgz' %>
<%= render 'peoatts/showsfz' %>
<%= render 'peoatts/showaqz' %>
<%= render 'peoatts/showggcl' %>
<%= render 'peoatts/showqt' %>
<br>



